{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}

{% block sub_title %}
    Sign Up -
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <a href="{% provider_login_url "facebook" method="oauth2" %}">
        <div class="log-in">
            <div class="facebook-link">
                <i class="fa fa-facebook fa-5x"></i>
                <p>Login / Connect with Facebook</p>
            </div>
        </div>
    </a>
{% endblock %}
