@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    background: #344e56;
    perspective: 1000px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}

.log-in {
    width: 580px;
    height: 200px;
    margin: 100px auto;
    position: relative
}

.facebook-link {
    margin: auto;
    color: #fff;
    background: #365195;
    width: 40%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 23px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer
}

a {
    text-decoration: none;
}

.facebook-link p {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px
}

.log-in > span {
    position: absolute;
    top: 40px;
    left: 215px;
    background: #222526;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #999
}

.card {
    margin: 5rem auto 1rem;
}

.profile-pic img {
    height: 144px;
    width: 144px;
    max-width: 144px;
    background: #fff;
    border: .3rem solid #fff;
    object-fit: cover;
    margin: -5.8rem auto .5rem auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.profile-pic:hover {
    cursor: pointer;
}

.card-body {
    background: #FFF;
    border-radius: 10px;
    padding: 64px 30px;
}

input {
    border: none;
    text-align: center;
    color: #000;
}

.input-name {
    font-weight: 600;
    font-size: 1.5rem;
    width: 17rem;
    color: #000;
}

.input-username {
    font-size: .9rem;
    color: rgb(134, 142, 150);
    margin-bottom: 1rem;
}

.card-text {
    line-height: 1.4;
    color: #000;
}

#profile_pic_input {
    display: none;
}

.btn, button {
    background-color: #bec1c5;
    border: none;
    color: white;
    padding: 15px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 14px 2px 20px;
    cursor: pointer;
    font-weight: bold;
}

h1, p {
    color: #FFF
}

li {
    color: red;
}

p {
    margin: 10px;
}
